<button type="button" (click)=" open()" class="button" data-toggle="modal" data-target="#myModal">Open
</button>
<div class="modal " id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content text-left">
      <div class="modal-header">
        <h4 class="modal-title">student data</h4>
        <a href="#" class="close" data-dismiss="modal">&times;</a>
      </div>
      <div class="modal-body">
      
        <div class="whole-adjust">
          <form [formGroup]="registrationForm">
       
          <div class="form-group">
            <div class="row pb-3">
              <div class="col-2 text-right"><label>Student Name:</label></div>

              <div class="col-10">

                <input type="text" [class.is-invalid]="studentName.invalid &&studentName.touched" formControlName="studentName" class="form-control" placeholder="Enter Student Name" name="studentName">
                <div *ngIf=" studentName.invalid && studentName.touched">
                
                <div class="text-danger" *ngIf="studentName.errors ?.required">Name is required</div>
                <div class="text-danger" *ngIf="studentName.errors ?.minlength">please enter value greater than 2 digits</div>
              </div>
              </div>

            </div>
          </div>
          <div class="form-group">
          <div class="row pb-3">
            <div class="col-2 text-right"><label>Father Name:</label></div>
            <div class="col-10">
              <input type="text" [class.is-invalid]="fatherName.invalid && fatherName.touched"  formControlName="fatherName" class="form-control" name="fName" placeholder="Enter Father Name">
              <div *ngIf="fatherName.invalid && fatherName.touched">
                <div class="text-danger" *ngIf="fatherName.errors ?.required">Name is required</div>
              </div>

            </div>
          </div>
          </div>
          <div class="form-group">
          <div class="row pb-3">
            <div class="col-2 text-right"><label>Gender:</label></div>
            <div class="col-10">
              <div class="radio-button"  >
                <input type="radio" name="gender"   formControlName="gender"  value="Male">Male
                <input type="radio" name="gender"  formControlName="gender" value="Female">Female
              </div>
            </div>
          </div>
          </div>
          <div class="form-group">
          <div class="row pb-3">
            <div class="col-2 text-right"><label>Date Of Birth:</label></div>
            <div class="col-10">
              <input type="date"  [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched"  formControlName="dateOfBirth" class="form-control" name="dob" required>
              <div *ngIf="dateOfBirth.invalid && dateOfBirth.touched">
                <div class="text-danger" *ngIf="dateOfBirth.errors ?.required">Name is required</div>
              </div>
            </div>
          </div>
          </div>
          <div class="form-group">
          <div class="row pb-3">
            <div class="col-2 text-right"><label>Department:</label></div>
            <div class="col-10">
              <select class="form-control"  [class.is-invalid]="department.invalid && department.touched"   formControlName="department" name="depart" required>
                <option>CSE</option>
                <option>MCE</option>
                <option>EEE</option>
              </select>
              <div *ngIf="department.invalid && department.touched">
                <div class="text-danger" *ngIf="department.errors ?.required">Name is required</div>
              </div>
            </div>
          </div>
          </div>
          <div class="form-group">
          <div class="row pb-3">
            <div class="col-2 text-right"><label>Address:</label></div>
            <div class="col-10">
              <textarea class="form-control"  [class.is-invalid]="address.invalid && address.touched"  formControlName="address" name="address" required></textarea>
              <div *ngIf="address.invalid && address.touched">
                <div class="text-danger" *ngIf="address.errors ?.required">Name is required</div>
              </div>

            </div>
          </div>
          </div>
          <div class="form-group">
          <div class="row pb-3">
            <div class="col-2 text-right"><label>Email id:</label></div>
            <div class="col-10">
              <input type="email" class="form-control"  [class.is-invalid]="email.invalid && email.touched && email.errors ?.emailError"   formControlName="email" name="email id" placeholder="Enter email id" required>
              <div  class="text-danger" *ngIf="email.errors ?.emailError">Email mismatched</div>
              <div *ngIf="email.invalid && email.touched">
                <div class="text-danger" *ngIf="email.errors ?.required">Name is required</div>
              </div>

            </div>
          </div>
          </div>
          <div class="form-group">
          <div class="row pb-3">
            <div class="col-2 text-right"><label>Age:</label></div>
            <div class="col-10">
              <input type="Number"  [class.is-invalid]="age.invalid && age.touched "  class="form-control"  formControlName="age" name="age" maxlength="2" id="age" placeholder="Enter Age"
                required>
                <div *ngIf="age.invalid && age.touched">
                  <div class="text-danger" *ngIf="age.errors ?.required">Name is required</div>
                  <div class="text-danger" *ngIf="age.errors ?.maxlength">Only allow two digits</div>
                </div>

            </div>
          </div>
          </div>
          <div class="form-group">
          <div class="row pb-3">
            <div class="col-2 text-right"><label>Password:</label></div>
            <div class="col-10">
              <input type="Password"  [class.is-invalid]="password.invalid && password.touched"
                class="form-control"  formControlName="password" name="pwd" placeholder="Enter password" required>
              <div *ngIf="password.invalid && password.touched">
                <div class="text-danger" *ngIf="password.errors ?.required">Name is required</div>
              </div>

            </div>
          </div>
          </div>
          <div class="form-group">
          <div class="row pb-3">
            <div class="col-2 text-right"><label>Confirm Password:</label></div>
            <div class="col-10">
              <input type="Password"  [class.is-invalid]="confirm.invalid && confirm.touched || registrationForm.errors ?.mismatch"  class="form-control"  formControlName="confirm" name="pwod" placeholder="Enter password" required>
              <div  class="text-danger" *ngIf="registrationForm.errors ?.mismatch">password mismatched</div>
              <div *ngIf="confirm.invalid && confirm.touched">
                <div class="text-danger" *ngIf="confirm.errors ?.required">Name is required</div>
                
              </div>

            </div>
          </div>
          </div>
          <div class="form-group">
          <div class="row pb-3">
            <div class="col-2 text-right">

            </div>
            <div class="col-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="form-check-input" name="check" required>Agree
                  to terms and conditions Name
                </label>
              </div>
            </div>

          </div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
              <button (click)="InsertStudent()" type="submit">Submit</button>
             
            </div>

          </div>
        </form>
        </div>


      
      
      </div>
    
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal"><small><small>Close</small></small></button>

      </div>

    </div>

  </div>

</div>
{{showValue}}
<button (click)="showSubject()">Click</button>