<div class="jumbotron-fluid  header ">


  <div class="container">
    <div class="row">
      <div class="col ">
        <h2 class="h">Basic 90</h2>
        <p class="h">Free HTML5 Website Template </p>
      </div>
      <div class="col align-items-center d-flex justify-content-end">

        <input type="text" placeholder="Search Our Website">
        <button type="button" class="btn-md text-white btn-warning " name="button">SUBMIT</button>



      </div>
    </div>

    <div class="row">

      <div class="nav nav-style">
        <div class="nav-item">
          <a class="nav-link c" href="#">TEXT LINK</a>
        </div>
        <div class="nav-item">
          <a class="nav-link c" href="#">TEXT LINK</a>
        </div>
        <div class="nav-item">
          <a class="nav-link c" href="#">TEXT LINK</a>
        </div>
        <div class="nav-item a">
          <a class="nav-link c" href="#">TEXT LINK</a>
        </div>
        <div class="nav-item">
          <a class="nav-link c" href="#">TEXT LINK</a>
        </div>



      </div>

    </div>
  </div>
</div>
<div class="main-content">

  <div class="container">
    <div class="table-container">
      <div class="container-1">
        <div class="row">
          <div class="col">
            <h3>Table</h3>
          </div>
          <div class="col text-right">
            <app-student-list [currentRowIndex]="currentRowIndex" [registrationForm]="registrationForm" (student)="ngOnInit()" ></app-student-list>

          </div>
        </div>
      </div>


      <div class="">
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Action</th>
              <th>Student Name</th>
              <th>Father Name</th>
              <th>Gender</th>
              <th>Date of Birth</th>
              <th>Department</th>
              <th>Address</th>
              <th>Email Id</th>
              <th>Age</th>
              <th>Password</th>
              <th>Confirm Password</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s  of student; let i = index">
              <td><button (click)="edit(s,i)" type="button" data-toggle="modal" data-target="#myModal">Edit</button>
                <button (click)="Delete(i)" type="button">Delete</button>
              </td>
              <td>{{s.studentName}}</td>
              <td>{{s.fatherName}}</td>
              <td>{{s.gender}}</td>
              <td>{{s.dateOfBirth}}</td>
              <td>{{s.department}}</td>
              <td>{{s.address}}</td>
              <td>{{s.email}}</td>
              <td>{{s.age}}</td>
              <td>{{s.password}}</td>
              <td>{{s.confirm}}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<div class="jumbotron-fluid c1" style="background-color: #333333;">
  <div class="container " style="padding-top:35px ; padding-bottom:35px;">
    <div class="container-7">
      <div class="row">
        <div class="col c37">

          <div class="c38">
            <a class="d-block" style="color:#efefef; font-family: Georgia; font-weight: bold; padding-bottom: 17px;"
              href="#">LINK BLOCK</a>
          </div>
          <div class="c39">
            <p class="c40">Lorem ipsum dolor sit</p>
            <p class="c40">Amet consectetur</p>
            <p class="c40">Praesent vel sem id</p>
            <p class="c40">Curabitur hendrerit est</p>
            <p class="c40">Sed a nulla urna</p>
          </div>



        </div>
        <div class="col c37">
          <div class="c38">
            <a class="d-block" style="color:#efefef; font-family: Georgia; font-weight: bold; padding-bottom: 17px;"
              href="#">LINK BLOCK</a>
          </div>
          <div class="c39">
            <p class="c40">Lorem ipsum dolor sit</p>
            <p class="c40">Amet consectetur</p>
            <p class="c40">Praesent vel sem id</p>
            <p class="c40">Curabitur hendrerit est</p>
            <p class="c40">Sed a nulla urna</p>
          </div>

        </div>
        <div class="col c37">
          <div class="c38">
            <a class="d-block" style="color:#efefef; font-family: Georgia; font-weight: bold; padding-bottom: 17px;"
              href="#">LINK BLOCK</a>
          </div>
          <div class="c39">
            <p class="c40">Lorem ipsum dolor sit</p>
            <p class="c40">Amet consectetur</p>
            <p class="c40">Praesent vel sem id</p>
            <p class="c40">Curabitur hendrerit est</p>
            <p class="c40">Sed a nulla urna</p>
          </div>

        </div>
        <div class="col c37">
          <div class="c38">
            <a class="d-block" style="color:#efefef; font-family: Georgia; font-weight: bold; padding-bottom: 17px;"
              href="#">LINK BLOCK</a>
          </div>
          <div class="c39">
            <p class="c40">Lorem ipsum dolor sit</p>
            <p class="c40">Amet consectetur</p>
            <p class="c40">Praesent vel sem id</p>
            <p class="c40">Curabitur hendrerit est</p>
            <p class="c40">Sed a nulla urna</p>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container-8">
    <div class="container py-1">

      <div class="row  c41">
        <div class="col c42 ">
          <p>Copyright@2009-2020-All Rights Reserved-Domain Name</p>
        </div>
        <div class="col c42 text-right">
          <p>Template by OS Templates</p>
        </div>

      </div>

    </div>
  </div>
</div>